page-time-sheet {

    .ionItemHeader{
        background-color: grey;
        color: white;
    }

    .ionItemPlan{
        background-color:azure;
    }

    .ionItemReal{
        background-color:aqua;
    }

    .ionItem{
        margin-bottom: 5px;
    }
    td{
        text-align: left;
    }
    table, tr{
        border-collapse: collapse;
    }
    tr:nth-child(odd){
        // border: 1px solid black;
        // background-color: #589396;
    }

}
