page-time-sheet {

    .ionItemHeader{
        background-color: grey;
        color: white;
    }

    .ionItemPlan{
        background-color:azure;
    }

    .ionItemReal{
        background-color:aqua;
    }

}
