page-time-sheet {

    .ionContent{
        background-color: #caccce;
    }
    
    .ionItemHeader{
        background-color: grey;
        color: white;
    }

    .ionItemPlan{
        background-color:azure;
    }

    .ionItemReal{
        background-color:aqua;
    }

    .ionItem{
        margin-bottom: 5px;
    }
    td{
        text-align: left;
    }
    table, tr{
        border-collapse: collapse;
    }

}
