page-report {
    .ionItem{
        margin: 10px auto;
    }

    .progress-bar{
        margin-top: 70px;
    }

    .positionRelative{
        position: relative;
        font-size: 15px;
        width: 50%;
        height: 50%;
    }

    .percentageValue {
        position: absolute;
        top : 50%;
        width: 100%;
        left: 12%;
        font-size: 13px;
        font-weight: 600;
    }
    
}