page-user {

    .ionContent{
        background-color: #caccce;
    }
    .profile-photo {
        width: 50%;
        height: 50%;
        max-width: auto;
        max-height: auto;
        background-size: contain;
        overflow: hidden;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%
        }
    
    .content{
        justify-content: center;
        align-items: center;
    }
    .headerSprint{
        background-color: #f7f7f7;
        margin-top: 20px;
    }

    .buttonCol{
        white-space:normal;
        align-items: center;
    }
    
}
